.about-page-container{
    height: 100vh;
    width: 100vw;
    background-color: #d1cdb7;
    -webkit-background-size: 0.3rem 0.3rem;
    -moz-background-size: 0.3rem 0.3rem;
    background-size: 0.3rem 0.3rem;
    background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    background-image: -moz-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -moz-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    background-image: -o-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -o-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    background-image: -ms-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -ms-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204,200,177,0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    color: #454138;
    display: flex;
    flex-direction: column;
}

.about-title{
    margin: 0;
    margin-left: 3rem;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0 #bab5a1;
}

.about-info {
    height: 60vh;
    margin: 0 2rem 0 2rem;
    padding: 1rem;
    padding-top: 0.5rem;
    border: 0.1rem solid #bab5a1;
    display: flex;
    align-items: center;
}

.about-options{
    width: 20vw;
    padding: 0.5rem;
    padding-bottom: 35vh;
    display: grid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #dcd8c0;
    box-shadow: 0.1rem 0.1rem #454138;
}

.about-info-content-container{
    height: 48vh;
    width: 55vw;
    margin-left: 5vw;
    background-color: #dcd8c0;
    box-shadow: 0.1rem 0.1rem #454138;
}

.about-info-content{
    height: 46vh;
    margin: 0rem 0.75rem 0 0.75rem;
    padding: 0.75rem;
    border: 0.1rem solid #bab5a1;
}

.about-footer{
    margin: 2rem;
    background-color: #dcd8c0;
    box-shadow: 0.1rem 0.1rem #454138;
}

.about-blockquote {
    margin-left: 2rem;
    position: relative;
    padding: 0.5rem;
  }
  .about-blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.5rem;
    bottom: 0;
    height: 100%;
    width: 0.3rem;
    border: solid #bab5a1;
    border-width: 0 0.2rem 0 0.6rem;
  }
  .about-cite {
    position: relative;
    padding-left: 2rem;
  }
  .about-cite:before {
    content: '';
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    background-color: #454138;
    margin-left: -1rem;
    top: 0.25em;
  }