.contact-page-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #f0eee2;
}

.contact-information-container{
    width: 65vw;
    margin-top: 10vh;
    margin-left: 8vw;
    margin-right: 27vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #454138;
    border-width: 0.1rem 0 0.1rem 0;
    border-radius: 15px;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.contact-information-container:hover{
    background-color: #efeddf;
}

.contact-title{
    font-family: Abril;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
}

.contact-p{
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    margin-bottom: 1.25rem;
}

.contact-p > a {
    color: rgb(220 38 38);
    font-weight: 300;
    padding: 0.2rem 0.5rem;
    border-radius: 15px;
    text-align: center;
    background: #e8e6d8;
    background: linear-gradient(to left, #e8e6d8 50%, white 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.contact-p > a:hover {
    background-position: left;
}

.contact-ponyo-container{
    width: 20vw;
    height: 20vh;
}

.contact-contents-container{
    display: flex;
}

#contact{
    margin-top: 8.25rem;
}

@media screen and (max-width: 600px) {
    .contact-title{
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
    
    .contact-p{
        font-size: 0.5rem;
        letter-spacing: 0.05rem;
        margin-bottom: 0.7rem;
    }

    .contact-information-container{
        padding-bottom: 0.1rem;
    }
}

@media screen and (max-width: 900px) {
    .contact-information-container{
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }

    .contact-contents-container{
        flex-direction: column;
        align-items: center;
    }

    .contact-ponyo-container{
        margin-top: 2.5vh;
        width: 50vw;
        height: 30vh;
    }
}