@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #dcd8c0;
}

/* Below is styling for the home page (index.js)*/

.home-page-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #d1cdb7;
    -webkit-background-size: 0.3rem 0.3rem;
    -moz-background-size: 0.3rem 0.3rem;
    background-size: 0.3rem 0.3rem;
    background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    background-image: -moz-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -moz-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    background-image: -o-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -o-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    background-image: -ms-linear-gradient(left, #ccc8b1 1px, rgba(204,200,177,0) 1px), -ms-linear-gradient(top, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204,200,177,0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204,200,177,0) 1px);
    color: #454138;
}

.home-content-container{
    width: 65vw;
    margin-top: 10vh;
    margin-left: 8vw;
    margin-right: 27vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid #454138;
    border-width: 0.1rem 0 0.1rem 0;
    border-radius: 15px;
    padding-left: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    color: black;
    transition-duration: 2s;
    z-index: 2;
}

.home-information-container{
    width:70%;
}

.home-title{
    font-family: Abril;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1rem;
    margin-bottom: 1.5rem;
    padding: 0;
    width: fit-content;
}

.home-title:after {
    display:block;
    content: '';
    border-top: solid 0.1rem black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%;
    margin-top: -1.2rem;
  }
  .home-content-container:hover > .home-title:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
  }

.home-p{
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    margin-bottom:.25rem;
}

.resume-button{
    font-family: Graduate;
    color: rgb(220 38 38);
    padding: 0.2rem 1rem;
    margin-right: .5rem;
    border-radius: 15px;
    text-align: center;
    background: #dcd8c2;
    background: linear-gradient(to left, #dcd8c2 50%, #e8e6d8 50%) right;
    background-size: 210%;
    transition: .5s ease-out;
    align-self: center;
}

.home-button-container > a {
    color: rgb(220 38 38);
    font-weight: 300;
    padding: 0.2rem 2rem;
    margin-right: .5rem;
    border-radius: 15px;
    text-align: center;
    background: #dcd8c2;
    background: linear-gradient(to left, #dcd8c2 50%, #e8e6d8 50%) right;
    background-size: 210%;
    transition: .5s ease-out;
}
.home-button-container > a:hover, .resume-button:hover{
    background-position: left;
}

.home-button-container{
    display: flex;
    margin-top: .5rem;
}



@media screen and (max-height: 1500px) {
    .home-image-wrapper{
        height: 60vh;
        width: 60vw;
        align-self: flex-end;
        margin-top: -20vh;
        z-index: 1;
    }
}

@media screen and (max-height: 1000px) {
    .home-image-wrapper{
        height: 50vh;
        width: 50vw;
        align-self: flex-end;
        margin-top: -36vh;
        z-index: 1;
    }
}
@media screen and (max-height: 800px) {
    .home-image-wrapper{
        height: 50vh;
        width: 50vw;
        align-self: flex-end;
        margin-top: -58vh;
        z-index: 1;
    }
}

@media screen and (max-width: 925px) {
    .home-content-container{
        width: 90vw;
        margin-top: 7.5vh;
        margin-left: auto;
        margin-right: auto;
        padding-left: .5rem;
        padding-top: .5rem;
        padding-bottom: 1rem;
    }

    #home-logo-bar{
        margin-top: 20vh;
    }

    .home-image-wrapper{
        height: 70vh;
        width: 70vw;
        margin-top: 4rem;
    }

}

@media screen and (max-width: 600px) {
    .home-title:after{
        margin-top: 0;
    }

    .resume-button{
        display: none;
    }

    #home-logo-bar{
        margin-top: 27.5vh;
    }

    .home-content-container{
        font-size: .7rem;
    }

    .home-title{
        font-size: 2.25rem;
        letter-spacing: 0.2rem;
    }
    
    .home-p{
        font-size: .7rem;
    }

    .home-image-wrapper{
        height: 75vh;
        width: 75vw;
        margin-top: -4.5rem;
        z-index: 1;
    }

    .home-information-container{
        width:90%;
    }
}
